data/best_model_params.pt
scanner_model/__pycache__
simple_model/__pycache__
scanner_model/.ipynb_checkpoints/
scanner_model/pretrained_6mer/pytorch_model.bin
data/full_data_tsv
data/balanced_data
scanner_model/model_src/__pycache__
