model/__pycache__
model/.ipynb_checkpoints/
model/transformer_src/__pycache__
model/pretrained_6mer/pytorch_model.bin
model/attention_analysis/__pycache__

data/best_model_params.pt
data/full_data_tsv
data/balanced_data
data/test.tsv
data/val.tsv
data/positive.p

analysis/__pycache__
analysis/.ipynb_checkpoints
analysis/results/bed_files/REST
analysis/results/bed_files/NANOG
analysis/results/fimo/negative
