scanner_model/__pycache__
scanner_model/.ipynb_checkpoints/
scanner_model/model_src/__pycache__
scanner_model/pretrained_6mer/pytorch_model.bin

data/best_model_params.pt
data/full_data_tsv
data/balanced_data
data/test.tsv
data/val.tsv